<h2>Hello this is my main module</h2>
<!-- <button routerLink="/home">Home</button>
<button routerLink="/product">Product</button>
<button routerLink="/auth">Auth</button> -->
<router-outlet></router-outlet>
<!-- <mat-form-field>
  <input matInput placeholder="Username">
</mat-form-field>
<button mat-button color="primary">Submit</button>
 -->


<!-- <div>
  <div>
    <form [formGroup]="myForm" (ngSubmit)="sendData(myForm)">
      <label for="fname">Enter your first Name</label><br>
      <input type="text" name="fname" id="fname" formControlName="fname" placeholder="Enter your first name"> <br><br>
        <label for="lname">Enter your last Name</label><br>
      <input type="text" name="lname" id="lname" formControlName="lname" placeholder="enter your lastname"><br><br>
      <div class="button">
        <button class="submit"> submit</button>
      </div>
    </form>
  
    
  </div>
</div> -->

<!-- <div>
  <div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div formArrayName="contactNumbers">
        <div *ngFor="let contact of signupForm.controls.contactNumbers.controls; index as i">
          <input type="text" [formControlName]="i" placeholder="Enter your Number">
        </div>
      </div>
      <button>submit</button>
    </form>
    <div>

      <button (click)="addNumber()">Add Number</button>
      <button (click)="setPreset()">Preset</button>
    </div>
  </div>
</div> -->